body{
	background-image: url("http://selab.hanyang.ac.kr/courses/cse326/2015/problems/images/3/blueTextureBG.jpg");
	margin-left:15%;
	margin-right:15%;
}
.entire {
	border:10px dashed;
	border-color: white;
	background-color: white;
	margin-left: 15%; margin-right: 15%;
}

header {
	background-color: #8E8E8E;
	padding: 5px;
	color: white;
}

header h1 {
	border:0px;
	text-align: center;
}
header p span{
  	font-weight:bold;
}
.Noun {
	border:0px;
}

article {
	border:4px #1D2475 solid;
	border-radius: 15px;
	border-color: #1D2475;
	color:  #FFFFFF;
	background-color: #6277C3 ;
	padding: 5px;
	margin-top: 10px;
	margin-right: 170px;
}
section {
	overflow: hidden;
	color: black;
	margin: 5px;
}
.images {
	border:5px;
	margin: 5px;
	background-color: white;
	float: left;
	text-align: center;
}
article h2 {
	border-bottom:3px dotted white;
	border-color: white;
	text-align: center;
}
aside {
	float: right;
	border-radius: 15px;
	width: 150px;
	background-color: #3366CC;
	border: solid 5px #1D2475;
	text-align: left;
	margin-top: 10px;
  margin-left: 10px;
}

aside h1 {
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 0px;
}
aside section{
	margin-top: 0px; margin-bottom: 5px;
}

.entire * *:not(.section):hover{
	background-color: #ffff00;
}
